<%- include('./header') %>
    <div>
        <h3>Email verification</h3>
        <p> Welcome <%= user.name %>!</p>
        <a href="<%= url %>" target="_blank"> click to activate your account</a>
    </div>
<%- include('./footer') %>