<%- include('./header') %>
    <div>
        <h3> Reset Password </h3>
        <p> Dear <%= user.name %> </p>
        <p> Need to >reset your password? No problem! Just click the button below. </p>
        <a href="<%= link %>" target="_blank" > Reset Password </a>

        
    </div>
    <%- include('./footer') %>